<div>
  <table class="table table-dark table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Id</th>
        <th scope="col">Tên món ăn</th>
        <th scope="col">Mã Danh mục món ăn</th>
        <th>Mô tả</th>
        <th>ảnh đại diện</th>
        <th>Giá</th>
        <th>ngày bắt đầu bán</th>
        <th>Ngày sửa thông tin</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < dishs.length; i++){%>
      <tr>
        <th><%= i+1 %></th>
        <td><%= dishs[i].id %></td>
        <td><%= dishs[i].dishName%></td>
        <td><%= dishs[i].dishCategoryCode%></td>
        <td><%= dishs[i].describe%></td>
        <td><%= dishs[i].avatar%></td>
        <td><%= dishs[i].price%></td>
        <td><%= dishs[i].create_at%></td>
        <td><%= dishs[i].update_at%></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
